
<!DOCTYPE html>


<html>
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <!--Styles.Render("~/Content/Master") -->
    <!-- <link href="Url.Content("~/Content/Master.css")" rel="stylesheet" type="text/css" /> -->
    @Styles.Render("~/Content/Master")
</head>
<body>
    <section class="menu">
        <nav class="top-menu-bar">
            <ul>
                <li class="top-menu-bar-item"><p class="top-menu-bar-item-text">Home</p></li>
                <li class="top-menu-bar-item"><p class="top-menu-bar-item-text">Movies</p></li>
                <li class="top-menu-bar-item"><p class="top-menu-bar-item-text">Specials</p></li>
                <li class="top-menu-bar-item"><p class="top-menu-bar-item-text">Food</p></li>
                <li class="top-menu-bar-item"><p class="top-menu-bar-item-text">Culture</p></li>
                <li class="top-menu-bar-item-right"><p class="top-menu-bar-item-text">Wishlist</p></li>
                <li class="top-menu-bar-item-right"><p class="top-menu-bar-item-text">Cart</p></li>
            </ul>
        </nav>
    </section>

    <aside class="side-buttons">
        <button class="side-button"><p class="side-button-text">Full Schedule</p></button>
        <button class="side-button"><p class="side-button-text">Lorum Ipsum</p></button>
        <button class="side-button"><p class="side-button-text">Combo Deals</p></button>
    </aside>
    @RenderBody()
    <footer>
        <ul class="Left-footer-list">
            <li>Home</li>
            <li>Movies</li>
            <li>Specials</li>
            <li>Food</li>
            <li>Culture</li>
        </ul>
        <ul class="Middle-footer-list">
            <li>Locations</li>
            <li>About us</li>
            <li>FAQ</li>
            <li>Contact</li>
            <li>Hotels</li>
        </ul>
        <ul class="Right-footer-list">
            <li>My wishlist</li>
            <li>Cart</li>
            <li>Maintence</li>
        </ul>
    </footer>
</body>
</html>
