
<!DOCTYPE html>


<html>
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <!--Styles.Render("~/Content/Master") --> 
    <link href="@Url.Content("~/Content/Master.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Master") 
</head>
<body>
    <section class="menu">
        <nav class="top-menu-bar">
            <ul>
                <li>Home</li>
                <li>Movies</li>
                <li>Specials</li>
                <li>Food</li>
                <li>Culture</li>
                <li>Wishlist</li>
                <li>Cart</li>
            </ul>
        </nav>
    </section>

    <aside class="side-buttons">
        <button class="side-button"></button>
        <button class="side-button"></button>
        <button class="side-button"></button>
    </aside>

    <footer>
        <ul class="Left-footer-list">
            <li>Home</li>
            <li>Movies</li>
            <li>Specials</li>
            <li>Food</li>
            <li>Culture</li>
        </ul>
        <ul class="Middle-footer-list">
            <li>Locations</li>
            <li>About us</li>
            <li>FAQ</li>
            <li>Contact</li>
            <li>Hotels</li>
        </ul>
        <ul class="Right-footer-list">
            <li>My wishlist</li>
            <li>Cart</li>
            <li>Maintence</li>
        </ul>
    </footer>
</body>
</html>
