
@{
    ViewBag.Title = "ManagementWindow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Management window</h2>

<h2>@Html.ActionLink("Log Out","LogOff", "Employee", new {@class = "link"}, null)</h2>