body {
}

.TableHeader{
    background-color: #cccccc;
}

.TableHeader li{
    margin: 0% 0% 0% 0%;
    display: inline-block;
}

.Title{
    padding: 0em 0em 0em 0em;
    border-right: 0.063em solid #000000;
    width: 23em;

}

.Time{
    padding: 0em 1em 0em 1em;
    border-right: 0.063em solid #000000;
    width: 5em;

}

.Amount{
    padding: 0em 1em 0em 1em;
    border-right: 0.063em solid #000000;
    width: 5em;

}

.Price{
    padding: 0em 1em 0em 1em;
    width: 4em;
}

.TableContent li{
    margin: -1em 0em 0em 0em;
    display: inline-block;
}