.cart {
    border-spacing: 0;
    border-right: 0.063em solid #000000;
    border-left: 0.063em solid #000000;
    border-bottom: 0.063em solid #000000;
}

.CartHeader {
    background-color: #cccccc;
    border-bottom: 0.063em solid #000000;
}

.cart th {
    margin: 0% 0% 0% 0%;
    border-top: 0.063em solid #000000;
    border-bottom: 0.063em solid #000000;
    border-right: 0.063em solid #000000;
}

.cart td {
    border-bottom: 0.063em solid #aaaaaa;
    border-right: 0.063em solid #aaaaaa;
}

.Title {
    padding: 0em 0em 0em 1em;
    width: 45%;
    margin: 0em 0em 0em -1em;
}

.Time {
    padding: 0em 1em 0em 1em;
    width: 10%;
    height: 200%;
    margin: 0em 0em 0em -1em;
}

#Time {
    font-size: 0.8em;
}

.Amount {
    padding: 0em 1em 0em 1em;
    width: 10%;
    margin: 0em 0em 0em -1em;
}

.Price {
    padding: 0em 1em 0em 1em;
    width: 10%;
}

.CartContent li {
    margin: -1em 0em 0em 0em;
    display: inline-block;
}

.Delete {
    padding: -1em 0em -1em 0em;
    width: 10%;
    border-right: none;
    text-align: center;
}

tr #Delete {
    font-size: 1.2em;
}

.Options {
    float: right;
    margin-top: 1em;
    border: 0.063em solid #000000;
    border-spacing: 0em;
}

.Options td {
    border-bottom: 0.063em solid #aaaaaa;
    width: 10em;
}

.ConfirmButton{
	height: 55px;
}

.ConfirmButton td{
    border: none;
}

.ConfirmButton button{
    text-decoration: none;
    color: white !important;
    background-color: #226493;
    border-radius: 5px;
    height: 44px;
    display: block;
    line-height: 20px;
    width: 120px !important; 
	opacity: 1.0; 
	text-align:center;
	margin: 0 auto;
	position: relative;   
}
.ConfirmButton button:hover{
    background-color: #06AED5;
}

.wishToCartbutton{
    float:left;
    text-decoration: none;
    color: white !important;
    background-color: #226493;
    border-radius: 5px;
    height: 44px;
    display: block;
    line-height: 20px;
    width: 120px !important; 
	opacity: 1.0; 
	text-align:center;
	margin: 0 auto;
	position: relative; 
}

.wishToCartbutton:hover{
    background-color: #06AED5;
}

.deleteCross{
    text-decoration: none;
    color: black;
   
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
.deleteCross:active{
    text-decoration: none;
    color: black;
}

#removeBoxEmail{
    display: none;
}