h3{
width: 100%;
float: left;

}

.omschrijving{
    width: 45%;
}

table{
    width: 45%;
}

.tijden {
    float: left;
}

.contact, .Prices{
    float: left;
}
#bericht {
    height: 180px;
    width: 250px;
}