h3{
width: 100%;
float: left;

}

#bericht {
    height: 180px;
    width: 250px;
}

.GroteVeld{
    width: 76%;
    margin-bottom: 25px;
}

.Label {
    width: 120px;
    display: inline-block;
    height: 20px;    
}
.Radio{
    margin-right: 65px; 
}