/* Edit pages CSS*/

.Edit-update{    
    float:right;
    height: 1.8em;
}
.DropDownHighlight{
    float:right;
}

.management{
    text-decoration: none;
    color: blue;
}
.table-header-2plus{
    
}
.management:visited{
    text-decoration: none;
    color: blue;
}

table{
    border-spacing: 1.2em 0;
}

td{
    
}

    
