/* Edit pages CSS*/

.Edit-update{    
    float:right;
    height: 1.8em;
}
.DropDownHighlight{
    float:right;
}

.management{
    margin-left: 1.1em;
    text-decoration: none;
    color: blue;
}
.table-header-2plus{
    margin-left: 1.1em;
}
.management:visited{
    text-decoration: none;
    color: blue;
}