@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html{
    background-color: #fff1d0;
    font-family: Montserrat;
}

body {
    margin-top: 0%;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: Roboto;
}

.contentENaside{    
    margin-bottom: 1em;    
}

.content{
    margin-left: 2%;
    width: 70%;
    background-color: white;
}

.side-buttons {
    float: right;
    margin-right: 5%;    
    margin-top: 20px;
    margin-bottom: 5%;
}

.side-buttons button {
    width: 11.25em;
    height: 11.25em;
    background-color:#06AED5;
    display: block;
    margin-top: 32px;
    border-style: none;
}

.side-buttons button:hover{
    background-color: #086788; 
}

.side-buttons button p{
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.top-menu-bar {
    background-color: #086788;
    width: 100%;
    height: 3.5em;
    color: white;
        
}

.top-menu-bar ul{
    margin-left: 0%;
}

.top-menu-bar ul li{
    background-color: #086788;
    float: left;
    display: inline;
    width: 10%;
    height: 2.9em;
    margin-left: 0%;
    text-align: center;
    line-height: 300%;
    font-weight: bolder;
    font-size: 120%;    
    border-right: 0.063em solid #000000;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
}
.link {
    text-decoration: none;
    color: white;
}
.home-button{
    margin-left: -10em;
}

#menu-border-left{
    border-left: 0.063em solid #000000;
}
.top-menu-bar ul li:hover {
    background-color: #06AED5;
}
.top-menu-bar .right{
    float: right;
    margin-left: 0%;
    margin-right: 0%;    
    /*alleen voor meest rechter laten gelden niet voor beide*/
}

#wishlist {
    border-left: 0.063em solid #000000;
    width: 12%;
}

.top-menu-bar p{
    height: 100%;
    display: inline;
}

ul {
    list-style-type: none;
}

footer li:hover{
    background-color: #06AED5;
}
    
footer{
    width: 100%;
    height: 10em;
    background-color: #086788;
    color: white;
    float: left;
    margin-bottom: -1em;
}

footer ul{
    display: inline-block;
}

footer ul li{
    width: auto;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

#footer-left{
    float: left;
    margin-left: 1%;
    margin-right: 24%;
}

#footer-middle{
    float:left;
    margin-right: 24%;
}

#footer-right{
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

h5{
    display: inline;
    font-size: 1.2em;
}

h6{
    display: inline;
    font-size: 0.8em;
    font-weight: normal;
}


.header-logo {
    margin-left: 2%;
    margin-top: 2%;
    width: 12em;
}

#header-imgs{
    margin-left: 2em;

}

.header-img {
}

.home-img{
    height: 23em;
    width: 23em;
    float: left;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}


.right-img{
    float: right;
}

.cartcount{
    color:red;
    font-size: 70%; 
}
.wishlistcount{
    color:red;
    font-size: 70%;
}

