
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Done</h2>

<p>You have succesfully done the payment, U will shortly be able to receive the tickets with the requested method or receival.</p>