@model String
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/overview.css" rel="stylesheet" />
<h2>Payment using @Model</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <input class="completebutton" value="Complete transaction" type="submit" />
}
