@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html{
    background-color: #fff1d0;
    font-family: Montserrat;
}

body {

    width: 75%;
    position: absolute;
    left: 50%;
    margin-left: -37.5%;
    background-color: white;
    font-family: Roboto;
}

.content{
    width: 75%;
    margin-left: 2%;
    background-color: white;
}

.side-buttons {
    float: right;
    margin-right: 3%;
    margin-top: 2em;
}

.side-buttons button {
    width: 11.25em;
    height: 11.25em;
    background-color: #06AED5;
    display: block;
    margin-top: 2em;
    border-style: none;
}

.side-buttons button:hover{
    background-color: #277D99;
}

.side-buttons button p{
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.top-menu-bar {
    background-color: #277D99;
    width: 100%;
    height: 3.5em;
    color: white;
        
}

.top-menu-bar ul{
    margin-left: -5%;
}

.top-menu-bar ul li{
    float: left;
    display: inline;
    width: 10%;
    height: 2.9em;
    background-color: #06AED5;
    margin-left: 2%;
    text-align: center;
    line-height: 300%;
    font-weight: bolder;
    font-size: 120%;
}

.top-menu-bar .right{
    float: right;
    margin-left: 0%;
    margin-right: 2%;
}

.top-menu-bar p{
    height: 100%;
    display: inline;
}

ul {
    list-style-type: none;
}

footer{
    width: 100%;
    height: 10em;
    background-color: #277D99;
    color: white;
}

footer ul{
    display: inline-block;
}

#footer-left{
    float: left;
    margin-left: 1%;
    margin-right: 24%;
}

#footer-middle{
    float:left;
    margin-right: 24%;
}

#footer-right{
    float: left;
}
