@Styles.Render("~/Content/AboutUsStyle.css")
@using IHFF.Models
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About us</h2>

<p>The International Haarlem Film Festival is an annual event. The event was setup to promote the culture of Haarlem and thus not a film festival.</p>
<p>Most tourists go to Amsterdam and the Zaanse Schans. These places are the most known and have a great history, but the history of Haarlem is as big. 
    In the golden age Haarlem was one of the three biggest cities, along Amsterdam and Leiden. 
    Haarlem has always been one of the larger cities of the Netherlands up until 1800. 
    At the moment it is the capital of the province North-Holland.</p>