@Styles.Render("~/Content/AboutUsStyle.css")
@using IHFF.Models
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About us</h2>

<p class="tekst">We are a company called Celluloid & Silver and we have been organizing the Internationaal Haarlems Film Festival for quiet a while in Haarlem. We started with a small group of volunteers with one theatre and five movies. However Celluloid&Silver grew a lot in the years and we became more than a filmfestival.
Since a few years the festival has become a 5day cultural event. Movies are still the basis for the filmfestival in Haarlem, but the festival has a lot of new subjects like culture, restaurants and more.
The website www.ihff.nl has been developed by VYRE, a web developer company.</p>
