@Styles.Render("~/Content/CartStyle.css");
@using IHFF.Models;

@{
    ViewBag.Title = "Cart";
    
}

@model IEnumerable<Event>

<head>
    <title>Cart</title>
</head>
<body>

<h2>Cart</h2>

<content>
    <table>
    <tr class="TableHeader">
        <th class="Title"><h3>Title</h3></th>
        <th class="Time"><h3>Time</h3></th>
        <th class="Amount"><h3>Amount</h3></th>
        <th class="Price"><h3>Price</h3></th>
    </tr>
    @foreach (var m in Model)
    {
        <tr class="TableContent">
            <td class="Title"><h4>@m.Titel</h4></td>
            <td class="Time" id="Time"><h4>@m.DatumTijd</h4></td>
            <td class="Amount"><h4>@m.Aantal</h4></td>
            <td class="Price"><h4>@m.Prijs</h4></td>
        </tr>
    }
    </table>
</content>
</body>
