@using IHFF.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@model IEnumerable<Test> 
<ul></ul>
@foreach(Test test in Model)
{    
    <li>@test.Movie</li>
    <li>@test.Special</li>
    <li>@test.Vyre.ToString()</li>
}
