@Styles.Render("~/Content/ContactStyle.css")

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<article>
    <header>
        <h3>Contactform</h3>
    </header>
    <p>You can use the contact form below to contact the organization of the IHFF<br>All fields marked with a * are mandatory!</p>
    <form action="mailto:eise_wielinga@hotmail.com">
        <fieldset class="GroteVeld">
            <legend><strong>Contactform</strong></legend>
            <fieldset>
                <legend><strong>Your name</strong></legend>
                <label>Your title*</label><br>
                <label for="mr" class="radio">Mr.</label>
                <input type="radio" name="geslacht" id="Mr" value="Mr" required>
                <label for="mrs" class="radio">Mrs.</label>
                <input type="radio" name="geslacht" id="Mrs" value="Mrs" required>
                <label for="miss" class="radio">Miss.</label>
                <input type="radio" name="geslacht" id="Miss" value="Miss" required><br>
                <label class="Label" for="naam">Full name*:</label>
                <input type="text" id="naam" name="naam" placeholder="Name" required><br>
            </fieldset>
            <fieldset>
                <legend><strong>Your contact details</strong></legend>
                <label class="Label" for="email">E-mail*:</label>
                <input type="email" id="email" name="email" placeholder="example@example.nl" required><br>
                <label class="Label" for="nummer">Phone number:</label>
                <input type="tel" id="nummer" name="nummer" placeholder="06-12345678" pattern="\d{2}[\-]\d{8}"><br>
                <label class="Label" for="url">Web address:</label>
                <input type="url" id="url" name="url" placeholder="http://www.example.com"><br>
            </fieldset>
            <fieldset>
                <legend><strong>Your message</strong></legend>
                <label class="Label" for="bericht">Message*:</label>
                <textarea id="bericht" name="bericht" required></textarea>
            </fieldset>
            <fieldset>
                <legend><strong>Submit your message</strong></legend>
                <input type="submit" id="submit" name="submit" value="Submit">
            </fieldset>
        </fieldset>
    </form>
</article>