
<!DOCTYPE html>


<html>
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <!-- Styles.Render("~/Content/Master") -->
    <!-- <link href="~/Content/Master.css" rel="stylesheet" type="text/css" /> -->
    @Styles.Render("~/Content/Master.css")
</head>
<body>
    <section class="menu">
        <nav class="top-menu-bar">
            <ul>
                <li id="menu-border-left"><p>Home</p></li>
                <li><p>Movies</p></li>
                <li><p>Specials</p></li>
                <li><p>Food</p></li>
                <li><p>Culture</p></li>
                <li class="right"><p>Wishlist</p></li>
                <li class="right" id="menu-border-left"><p>Cart</p></li>
            </ul>
        </nav>
    </section>

    <aside class="side-buttons">
        <button><p>Full Schedule</p></button>
        <button><p>Highlights</p></button>
        <button><p>Combo Deals</p></button>
    </aside>
    <section class="content">
        @RenderBody()
    </section>
    <footer class="footer">
        <ul id="footer-left">
            <li>Home</li>
            <li>Movies</li>
            <li>Specials</li>

            <li>Food</li>
            <li>Culture</li>
        </ul>
        <ul id="footer-middle">
            <li>Locations</li>
            <li>About us</li>
            <li>FAQ</li>
            <li>Contact</li>
            <li>Hotels</li>
        </ul>
        <ul id="footer-right">
            <li>My wishlist</li>
            <li>Cart</li>
            <li>Maintence</li>
        </ul>
    </footer>
</body>
</html>
